parameters:
    paths:
        - bin
        - src
        - tests

    level: 8

    excludePaths:
        - */Fixture/*

    ignoreErrors:
        # getcwd
         - '#Parameter \#1 \$s of static method Nette\\Utils\\Strings::webalize\(\) expects string, string\|false given#'
